* {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

nav {
  height: 50px;
  line-height: 50px;
  text-align: center;
}
nav > a {
  padding: 8px 20px;
}
nav > a.active {
  background-color: #646cff;
  color: #000;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.option-wrapper {
  display: flex;
  justify-content: center;
  column-gap: 12px;
}
.option-wrapper .radio-group {
  display: flex;
  column-gap: 4px;
}

.main-container {
  width: 100%;
  display: flex;
}

.page-wrapper {
  flex: 1;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.history-stack-wrapper {
  height: 600px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 3px dashed #000;
}

.history-stack_status {
  flex: 1;
  display: flex;
  align-items: center;
  column-gap: 24px;
}
.history-stack_status .stack {
  width: 200px;
  height: 500px;
  padding: 10px;
  border: 2px solid #000;
  border-top: 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  row-gap: 4px;
}
.history-stack_status .box {
  width: 100%;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.history-stack_status .box.current {
  background-color: #535bf2;
}
